-r requirements.txt
onnxruntime-gpu[cuda,cudnn]==1.30.0
nvidia-cuda-nvrtc==13.4.92
nvidia-cuda-runtime==13.4.92
nvidia-cufft==12.4.0.43
nvidia-curand==10.4.4.72
nvidia-cudnn-cu13==9.26.0.51
nvidia-cublas==13.8.0.4
nvidia-nvjitlink==13.4.92
